xsd/rampage/core/ModuleManifest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.linux-rampage.org/ModuleManifest"
    elementFormDefault="unqualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:rampage="http://www.linux-rampage.org/ModuleManifest" xmlns:phptypes="http://www.linux-rampage.org/PHPTypes">
    <import schemaLocation="PHPTypes.xsd" namespace="http://www.linux-rampage.org/PHPTypes"></import>
    <element name="RampageManifest" type="rampage:RampageManifestComplexType">
    </element>

    <complexType name="ServiceManagerConfig">
        <all>
            <element name="services" maxOccurs="1" minOccurs="0">
                <complexType>
                    <sequence>
                        <element name="service" maxOccurs="unbounded" minOccurs="1" type="rampage:DiAwareServiceConfig"></element>
                    </sequence>
                </complexType></element>
            <element name="factories" maxOccurs="1" minOccurs="0">
                <complexType>
                    <sequence>
                        <element name="factory" maxOccurs="unbounded" minOccurs="1" type="rampage:ServiceFactory">
                        </element>
                    </sequence>
                </complexType>
            </element>
        </all>
        
    </complexType>


    <complexType name="SimpleServiceDefinition">
        <simpleContent>
            <extension base="boolean">
                <attribute name="name" use="required"
                    type="rampage:PHPClassName">
                </attribute>
            </extension>
        </simpleContent>
    </complexType>

    <complexType name="ServiceFactoryDefinition">
        <attribute name="name" use="required"
            type="rampage:PHPClassName">
        </attribute>
        <attribute name="abstract" type="boolean" use="optional" form="unqualified" default="false"></attribute>
        <attribute name="class" type="rampage:PHPClassName" use="required"></attribute>
    </complexType>

    <simpleType name="PHPClassName">
        <restriction base="string">
            <minLength value="1"></minLength>
            <pattern value="[a-zA-Z0-9_]+((\.|\\)[a-zA-Z0-9_]+)*"></pattern>
        </restriction>
    </simpleType>

    <simpleType name="VersionNumber">
        <restriction base="string">
            <pattern value="\d+\.\d+(\.\d+)*.*"></pattern>
        </restriction>
    </simpleType>

    <complexType name="ModuleDependencies">
        <all>
            <element name="depends" type="rampage:DependencyOptions"
                maxOccurs="1" minOccurs="0">
            </element>
            <element name="conflicts"
                type="rampage:DependencyOptions" maxOccurs="1"
                minOccurs="0">
            </element>

        </all>

    </complexType>

    <complexType name="DependencyVersionDefinition">
        <choice>
            <element name="equals" type="string" maxOccurs="1"
                minOccurs="0">
            </element>
            <all>
                <element name="min" type="string" maxOccurs="unbounded"
                    minOccurs="0">
                </element>
                <element name="max" type="string" maxOccurs="unbounded"
                    minOccurs="0">
                </element>
            </all>
        </choice>

    </complexType>

    <complexType name="patternType">
        <simpleContent>
            <extension base="string">
                <attribute name="basedir" type="string"
                    use="optional">
                </attribute>
                <attribute name="pattern" type="string" use="required"></attribute>
            </extension>
        </simpleContent>
        <attribute name="type" type="string" use="optional"></attribute>
    </complexType>

    <complexType name="RouteDefinition">
        <sequence>
            <choice maxOccurs="1" minOccurs="1">
                <element name="standard" type="rampage:StandardRouterConfig" maxOccurs="1" minOccurs="1"></element>

                <element name="literal" maxOccurs="1" minOccurs="1" type="rampage:LiteralRouteConfig"></element>
                <element name="segment" maxOccurs="1" minOccurs="1" type="rampage:LiteralRouteConfig"></element>

                <element name="regex" maxOccurs="1" minOccurs="1">
                    <complexType>
                        <complexContent>
                            <extension base="rampage:AbstractRouteConfig">
                                <attribute name="regex" type="string" use="required"></attribute>
                                <attribute name="spec" type="string" use="required"></attribute>
                            </extension>
                        </complexContent>
                    </complexType>
                </element>
                <element name="layout" maxOccurs="1" minOccurs="1">
                    <complexType>
                        <all>
                            <element name="handle" maxOccurs="unbounded" minOccurs="0">
                                <complexType>
                                    <attribute name="name" type="string" use="required"></attribute>
                                </complexType>
                            </element>
                        </all>
                        <attribute name="route" type="string" use="required"></attribute>
                        <attribute name="layout" type="string" use="required"></attribute>
                    </complexType>
                </element>
                <element name="custom" type="rampage:CustomRouterConfig" maxOccurs="1" minOccurs="1"></element>
            </choice>
            <element name="routes" type="rampage:RoutersConfig" maxOccurs="1" minOccurs="0"></element>
        </sequence>

        <attribute name="name" type="string" use="required"></attribute>
        <attribute name="type" use="required">
            <simpleType>
                <restriction base="string">
                    <enumeration value="standard"></enumeration>
                    <enumeration value="literal"></enumeration>
                    <enumeration value="segment"></enumeration>
                    <enumeration value="regex"></enumeration>
                    <enumeration value="custom"></enumeration>
                    <enumeration value="layout"></enumeration>
                </restriction>
            </simpleType>
        </attribute>
        <attribute name="mayterminate" type="boolean"></attribute>
    </complexType>
    <complexType name="RoutersConfig">
        <sequence>
            <element name="route" type="rampage:RouteDefinition" maxOccurs="unbounded" minOccurs="1">
            </element>
        </sequence>

    </complexType>

    <complexType name="StandardRouterConfig">
        <complexContent>
            <extension base="rampage:AbstractRouteConfig">
                <all>
                    <element name="parameters" maxOccurs="1" minOccurs="0">
                        <complexType>
                            <all>
                                <element name="allow" type="string" maxOccurs="unbounded" minOccurs="1"></element>
                            </all>
                        </complexType>
                    </element>
                </all>
                <attribute name="frontname" type="string" use="required"></attribute>
                <attribute name="namespace" type="rampage:PHPClassName" use="required"></attribute>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="CustomRouterConfig">
        <all minOccurs="1">
            <element name="options" type="phptypes:ArrayType" maxOccurs="1" minOccurs="1"></element>
        </all>
        <attribute name="type" type="rampage:PHPClassName" use="required"></attribute>
    </complexType>

    <complexType name="AbstractRouterConfig">
        <attribute name="type" type="string" use="required"></attribute>
    </complexType>


    <complexType name="PackageClassAliasDefinition">
        <attribute name="name" type="string" use="required"></attribute>
        <attribute name="class" type="string" use="required"></attribute>
    </complexType>

    <complexType name="DependencyOptions">
        <all>
            <element name="module"
                type="rampage:NamedDependencyVersion" maxOccurs="unbounded" minOccurs="0">
            </element>
            <element name="php"
                type="rampage:DependencyVersionDefinition" maxOccurs="1"
                minOccurs="0">
            </element>
            <element name="directive" type="rampage:NamedDependencyVersion" maxOccurs="unbounded" minOccurs="0"></element>
        </all>
    </complexType>

    <complexType name="NamedDependencyVersion">
        <complexContent>
            <extension base="rampage:DependencyVersionDefinition">
                <attribute name="name" type="string" use="required"></attribute>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="PackageDefinition">
        <attribute name="name" type="rampage:PHPClassName" use="required"></attribute>
        <attribute name="directory" type="string" use="optional"></attribute>
        <attribute name="fqpath" type="boolean" use="optional"></attribute>
    </complexType>

    <complexType name="LayoutSection">
        <sequence>
            <element name="config" type="rampage:LayoutConfigDefinition" maxOccurs="unbounded" minOccurs="1"></element>
        </sequence>
    </complexType>

    <complexType name="LayoutConfigDefinition">
        <attribute name="file" type="string" use="required"></attribute>
        <attribute name="scope" type="string" use="optional"></attribute>
        <attribute name="priority" type="int" use="optional"></attribute>
    </complexType>

    <complexType name="ResourcesConfig">
        <all>
            <element name="paths" maxOccurs="1" minOccurs="0">
                <complexType>
                    <sequence>
                        <element name="path" maxOccurs="unbounded" minOccurs="1">
                            <complexType>
                                <attribute name="type" type="string" use="optional"></attribute>
                                <attribute name="scope" type="string" use="required"></attribute>
                                <attribute name="path" type="string" use="required"></attribute>
                            </complexType>
                        </element>
                    </sequence>
                </complexType>
            </element>
            <element name="themes" maxOccurs="1" minOccurs="0">
                <complexType>
                    <sequence>
                        <element name="theme" type="rampage:ThemeResourceConfig" maxOccurs="unbounded" minOccurs="1"></element>
                    </sequence>
                </complexType>
            </element>
            <element name="layout" type="rampage:LayoutSection" maxOccurs="1" minOccurs="0"></element>
        </all>
    </complexType>

    <complexType name="AbstractRouteConfig">
        <all>
            <element name="constraints" type="phptypes:ArrayType"
                maxOccurs="1" minOccurs="0">
            </element>
            <element name="defaults" type="phptypes:ArrayType"
                maxOccurs="1" minOccurs="0">
            </element>
        </all>
        <attribute name="controller" type="string" use="optional"></attribute>
        <attribute name="action" type="string" use="optional"></attribute>
    </complexType>

    <complexType name="LiteralRouteConfig">
        <complexContent>
            <extension base="rampage:AbstractRouteConfig">
                <attribute name="route" type="string" use="required"></attribute>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="RampageManifestComplexType">
        <all>
            <element minOccurs="1" maxOccurs="1" name="module">
                <complexType>
                    <all>
                        <element name="label">
                            <simpleType>
                                <restriction base="string">
                                    <minLength value="1"></minLength>
                                </restriction>
                            </simpleType>
                        </element>
                        <element minOccurs="0" maxOccurs="1" name="description" type="string"></element>
                        <element minOccurs="0" maxOccurs="1" name="dependencies" type="rampage:ModuleDependencies"></element>
                    </all>
                    <attribute use="required" name="name" type="string"></attribute>
                    <attribute use="required" name="version" type="rampage:VersionNumber"></attribute>
                </complexType>
            </element>
            <element minOccurs="0" maxOccurs="1" name="classes">
                <complexType>
                    <all>
                        <element name="namespaces" maxOccurs="1" minOccurs="0">
                            <complexType>
                                <sequence>
                                    <element name="namespace" maxOccurs="unbounded" minOccurs="1">
                                        <complexType>
                                            <attribute name="namespace" type="string" use="required"></attribute>
                                            <attribute name="path" type="string" use="required"></attribute>
                                            <attribute name="relative" type="boolean" use="optional"></attribute>
                                        </complexType>
                                    </element>
                                </sequence>
                            </complexType>
                        </element>
                        <element name="classmaps" maxOccurs="1" minOccurs="0">
                            <complexType>
                                <sequence>
                                    <element name="classmap" type="rampage:ClassMapDefinition" maxOccurs="unbounded"
                                        minOccurs="1">
                                    </element>
                                </sequence>
                            </complexType>
                        </element>
                    </all>
                </complexType>
            </element>
            <element minOccurs="0" maxOccurs="1" name="servicemanager" type="rampage:ServiceManagerConfig"></element>
            <element name="dicontainer" type="rampage:DiContainerConfig" maxOccurs="1" minOccurs="0"></element>
            <element minOccurs="0" maxOccurs="1" name="router" type="rampage:RoutersConfig"></element>
            <element name="console" type="rampage:ConsoleConfig" maxOccurs="1" minOccurs="0"></element>
            <element minOccurs="0" maxOccurs="1" name="locale">
                <complexType>
                    <sequence>
                        <element minOccurs="0" maxOccurs="unbounded" name="pattern" type="rampage:patternType"></element>
                    </sequence>
                </complexType>
            </element>
            <element minOccurs="0" maxOccurs="1" name="resources" type="rampage:ResourcesConfig"></element>
            <element name="plugins" type="rampage:PluginManagerSection" maxOccurs="1" minOccurs="0"></element>
        </all>
    </complexType>

    <element name="manifest" type="rampage:RampageManifestComplexType"></element>

    <complexType name="ConsoleConfig">
        <all>
            <element name="banner" type="string" maxOccurs="1" minOccurs="0"></element>
            <element name="commands" maxOccurs="1" minOccurs="0">
                <complexType>
                    <sequence>
                        <element name="command" type="rampage:ConsoleCommandConfig" maxOccurs="unbounded" minOccurs="1"></element>
                    </sequence>
                </complexType>
            </element>
        </all>
    </complexType>

    <complexType name="ConsoleUsageConfig">
        <all>
            <element name="command" maxOccurs="1" minOccurs="1">
                <complexType>
                    <simpleContent>
                        <extension base="string">
                            <attribute name="command" type="string" use="required"></attribute>
                        </extension>
                    </simpleContent>
                </complexType>
            </element>
            <element name="parameter" maxOccurs="unbounded" minOccurs="0">
                <complexType>
                    <simpleContent>
                        <extension base="string">
                            <attribute name="parameter" type="string" use="required"></attribute>
                        </extension>
                    </simpleContent>
                </complexType>
            </element>
        </all>
    </complexType>

    <complexType name="ClassMapDefinition">
        <attribute name="file" type="string" use="required"></attribute>
    </complexType>

    <complexType name="DiContainerConfig">
        <all>
            <element name="definitions" maxOccurs="1" minOccurs="0">
                <complexType>
                    <sequence>
                        <element name="precompiled" maxOccurs="unbounded" minOccurs="1">
                            <complexType>
                                <attribute name="file" type="string" use="required"></attribute>
                            </complexType>
                        </element>
                    </sequence>
                </complexType>
            </element>
            <element name="instances" maxOccurs="1" minOccurs="0">
                <complexType>
                    <sequence>
                        <element name="instance" maxOccurs="unbounded" minOccurs="1" type="rampage:DiInstanceConfig">
                                    </element>
                    </sequence>

                </complexType>
            </element>
        </all>
    </complexType>

    <complexType name="DiInjectionsConfig">
        <sequence>
            <element name="inject" maxOccurs="unbounded"
                minOccurs="1">
                <complexType>
                    <complexContent>
                        <extension base="phptypes:ArrayType">
                            <attribute name="method" type="string"
                                use="required">
                            </attribute>
                            <attribute name="class" type="string"
                                use="optional">
                            </attribute>
                        </extension>
                    </complexContent>
                </complexType>
            </element>
        </sequence>
        
        
    </complexType>

    <complexType name="DiPreferencesDefinition">
        <sequence>
            <element name="preference" maxOccurs="unbounded" minOccurs="1">
                <complexType>
                    <attribute name="type" type="string"
                        use="required">
                    </attribute>
                    <attribute name="service" type="string"
                        use="optional">
                    </attribute>
                    <attribute name="class" type="string" use="optional"></attribute>
                </complexType>
            </element>
        </sequence>
    </complexType>
    <complexType name="DiInstanceConfig">
        <all>
            <element minOccurs="0" maxOccurs="1" name="injections" type="rampage:DiInjectionsConfig"></element>
            <element minOccurs="0" maxOccurs="1" name="parameters">
                <complexType>
                    <sequence>
                        <element minOccurs="1" maxOccurs="unbounded" name="parameter" type="phptypes:ArrayItemType">
                        </element>
                    </sequence>
                </complexType>
            </element>
            <element name="aspreference" maxOccurs="1" minOccurs="0">
                <complexType>
                    <sequence>
                        <element name="for" maxOccurs="unbounded" minOccurs="1">
                            <complexType>
                                <attribute name="class" type="string" use="required"></attribute>
                            </complexType></element>
                    </sequence>
                </complexType>
            </element>
        </all>
        <attribute use="required" name="class" type="string"></attribute>
        <attribute name="alias" type="string" use="optional"></attribute>
        <attribute use="optional" name="shared" type="boolean"></attribute>
    </complexType>

    <complexType name="DiParameterItemType">
        <complexContent>
            <extension base="phptypes:PHPValueType">
                <sequence>
                    <element ref="phptypes:instance" maxOccurs="0"
                        minOccurs="0">
                    </element>
                </sequence>
                <attribute name="name" type="string"></attribute>
                <attribute name="service" type="string" use="optional"></attribute>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="PluginManagerConfig">
        <complexContent></complexContent>
        <all>
            <element name="plugins" maxOccurs="1" minOccurs="0">
                <complexType>
                    <sequence>
                        <element name="plugin" type="rampage:ServiceConfig" maxOccurs="unbounded" minOccurs="1"></element>
                    </sequence>
                </complexType>
            </element>
            <element name="factories" maxOccurs="1" minOccurs="0">
                <complexType>
                    <sequence>
                        <element name="factory" type="rampage:ServiceFactory" maxOccurs="unbounded" minOccurs="1"></element>
                    </sequence>
                </complexType>
            </element>
        </all>
        <attribute name="type" type="string" use="required"></attribute>
    </complexType>

    <complexType name="BaseRouteConfig">
        <attribute name="controller" type="string" use="optional"></attribute>
        <attribute name="action" type="string" use="optional"></attribute>
    </complexType>
    <complexType name="ServiceClassDefinition">
        <simpleContent>
            <extension base="rampage:SimpleServiceDefinition">
                <attribute use="required" name="class" type="rampage:PHPClassName"></attribute>
            </extension>
        </simpleContent>
    </complexType>

    <complexType name="DiAwareServiceConfig">
        <complexContent>
            <extension base="rampage:ServiceConfig">
                <all>
                    <element name="di" maxOccurs="1" minOccurs="0">
                        <complexType>
                            <sequence>
                                <element name="provides" maxOccurs="unbounded" minOccurs="0">
                                    <complexType>
                                        <attribute name="class" type="string" use="required"></attribute>
                                    </complexType>
                                </element>
                            </sequence>
                            <attribute name="class" type="string" use="optional"></attribute>
                        </complexType>
                    </element>
                </all>
                <attribute name="usedi" type="boolean" use="optional"></attribute>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="ServiceConfig">
        <all>
            <element name="factory" maxOccurs="1" minOccurs="0" type="rampage:ServiceFactory">
            </element>
            <element name="aliases" maxOccurs="1" minOccurs="0">
                <complexType>
                    <sequence>
                        <element name="alias" maxOccurs="unbounded" minOccurs="1">
                            <complexType>
                                <attribute name="name" type="string" use="required"></attribute>
                            </complexType>
                        </element>
                    </sequence>
                </complexType>
            </element>
        </all>
        <attribute name="name" type="string" use="required"></attribute>
        <attribute name="class" type="string" use="optional"></attribute>
        <attribute name="shared" type="boolean" use="optional"></attribute>
    </complexType>
    <complexType name="ConsoleCommandConfig">
        <all>
            <element minOccurs="0" maxOccurs="1" name="defaults" type="phptypes:ArrayType"></element>
            <element minOccurs="0" maxOccurs="1" name="usage" type="rampage:ConsoleUsageConfig"></element>
        </all>
        <attribute use="required" name="name" type="string"></attribute>
        <attribute use="required" name="route" type="string"></attribute>
        <attribute use="required" name="controller" type="string"></attribute>
        <attribute use="optional" name="action" type="string"></attribute>
    </complexType>
    <complexType name="ThemeResourceConfig">
        <attribute use="required" name="name" type="string"></attribute>
        <attribute use="required" name="path" type="string"></attribute>
        <attribute use="optional" name="fallbacks" type="string"></attribute>
    </complexType>

    <complexType name="PluginManagerSection">
        <sequence>
            <element name="pluginmanager" type="rampage:PluginManagerConfig" maxOccurs="unbounded" minOccurs="1"></element>
        </sequence>
    </complexType>
    <complexType name="ServiceFactory">
        <sequence>
            <element minOccurs="0" maxOccurs="1" name="options" type="phptypes:ArrayType"></element>
        </sequence>
        <attribute use="required" name="class" type="string"></attribute>
    </complexType>
</schema>